In [2]:
# import Libraries
import numpy as np
import pandas as pd

In [3]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
# load dataset
data=pd.read_excel("AirQuality.xlsx")
data.head(10)

,Country,State,city,place,lastupdate,Avg,Max,Min,Pollutants
0,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,70.0,108.0,42.0,PM2.5
1,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,76.0,102.0,43.0,PM10
2,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,73.0,118.0,46.0,NO2
3,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,5.0,6.0,4.0,NH3
4,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,41.0,109.0,2.0,SO2
5,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,44.0,102.0,18.0,CO
6,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,29.0,35.0,12.0,OZONE
7,India,Andhra_Pradesh,Rajamahendravaram,"Anand Kala Kshetram, Rajamahendravaram - APPCB",21-12-2018 03:00:00,NaN,NaN,NaN,PM2.5
8,India,Andhra_Pradesh,Rajamahendravaram,"Anand Kala Kshetram, Rajamahendravaram - APPCB",21-12-2018 03:00:00,NaN,NaN,NaN,PM10
9,India,Andhra_Pradesh,Rajamahendravaram,"Anand Kala Kshetram, Rajamahendravaram - APPCB",21-12-2018 03:00:00,NaN,NaN,NaN,NO2

In [5]:
data.shape

(824, 9)

In [8]:
len(data['State'].unique())

17

In [50]:
# After drop the given dataset
df=data.dropna()

In [51]:
df.head(10)

,Country,State,city,place,lastupdate,Avg,Max,Min,Pollutants
0,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,70.0,108.0,42.0,PM2.5
1,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,76.0,102.0,43.0,PM10
2,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,73.0,118.0,46.0,NO2
3,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,5.0,6.0,4.0,NH3
4,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,41.0,109.0,2.0,SO2
5,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,44.0,102.0,18.0,CO
6,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,29.0,35.0,12.0,OZONE
12,India,Andhra_Pradesh,Rajamahendravaram,"Anand Kala Kshetram, Rajamahendravaram - APPCB",21-12-2018 03:00:00,30.0,103.0,2.0,CO
13,India,Andhra_Pradesh,Rajamahendravaram,"Anand Kala Kshetram, Rajamahendravaram - APPCB",21-12-2018 03:00:00,108.0,130.0,51.0,OZONE
14,India,Andhra_Pradesh,Tirupati,"Tirumala, Tirupati - APPCB",21-12-2018 03:00:00,46.0,72.0,28.0,PM2.5

In [52]:
df.shape

(788, 9)

In [53]:
# Show columns
df.columns

Index(['Country', 'State', 'city', 'place', 'lastupdate', 'Avg', 'Max', 'Min',
       'Pollutants'],
      dtype='object')

In [54]:
# describe the dataframe
df.describe()

              Avg         Max         Min
count  788.000000  788.000000  788.000000
mean    96.736041  149.675127   50.855330
std    114.746642  150.264480   74.279885
min      1.000000    1.000000    1.000000
25%     20.000000   35.000000    7.000000
50%     50.000000  103.000000   20.000000
75%    108.000000  180.250000   54.000000
max    457.000000  500.000000  335.000000

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 788 entries, 0 to 823
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     788 non-null    object
 1   State       788 non-null    object
 2   city        788 non-null    object
 3   place       788 non-null    object
 4   lastupdate  788 non-null    object
 5   Avg         788 non-null    float64
 6   Max         788 non-null    float64
 7   Min         788 non-null    float64
 8   Pollutants  788 non-null    object
dtypes: float64(3), object(6)
memory usage: 61.6+ KB

In [56]:
# cheaking dublicate data
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
819    False
820    False
821    False
822    False
823    False
Length: 788, dtype: bool

In [57]:
# find sum of duplicate
sum(df.duplicated())

0

In [58]:
# checking sum of missing value
df.isnull().sum()

Country       0
State         0
city          0
place         0
lastupdate    0
Avg           0
Max           0
Min           0
Pollutants    0
dtype: int64

In [59]:
df.Pollutants.unique()

array(['PM2.5', 'PM10', 'NO2', 'NH3', 'SO2', 'CO', 'OZONE'], dtype=object)

In [60]:
#  cheaking minimum or maximum of average pollution values
print("Minimum value of average pollution is : ",df.Avg.min())
print("Maxiimum value of average pollution is : ",df.Avg.max())

Minimum value of average pollution is :  1.0
Maxiimum value of average pollution is :  457.0

In [61]:
#Sorting the pollution range
print("Avg pollution range:",sorted(df["Avg"].unique()))

Avg pollution range: [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0, 101.0, 102.0, 103.0, 104.0, 105.0, 106.0, 107.0, 108.0, 110.0, 111.0, 112.0, 113.0, 114.0, 115.0, 118.0, 119.0, 120.0, 121.0, 122.0, 124.0, 125.0, 126.0, 127.0, 129.0, 130.0, 131.0, 136.0, 138.0, 139.0, 141.0, 142.0, 144.0, 146.0, 148.0, 149.0, 150.0, 154.0, 156.0, 157.0, 160.0, 161.0, 163.0, 164.0, 165.0, 167.0, 176.0, 177.0, 180.0, 183.0, 185.0, 187.0, 190.0, 193.0, 195.0, 201.0, 203.0, 204.0, 207.0, 214.0, 217.0, 221.0, 223.0, 228.0, 229.0, 231.0, 232.0, 235.0, 238.0, 240.0, 241.0, 247.0, 253.0, 257.0, 265.0, 266.0, 269.0, 272.0, 274.0, 276.0, 277.0, 278.0, 280.0, 287.0, 297.0, 302.0, 304.0, 305.0, 307.0, 308.0, 311.0, 314.0, 317.0, 318.0, 320.0, 321.0, 323.0, 325.0, 329.0, 333.0, 336.0, 337.0, 339.0, 341.0, 342.0, 345.0, 349.0, 350.0, 354.0, 356.0, 358.0, 359.0, 360.0, 361.0, 364.0, 370.0, 371.0, 372.0, 373.0, 374.0, 377.0, 378.0, 379.0, 380.0, 381.0, 383.0, 385.0, 388.0, 389.0, 390.0, 392.0, 393.0, 395.0, 396.0, 397.0, 401.0, 406.0, 408.0, 410.0, 411.0, 413.0, 414.0, 418.0, 420.0, 421.0, 426.0, 431.0, 433.0, 436.0, 439.0, 457.0]

In [62]:
df.Pollutants.unique()

array(['PM2.5', 'PM10', 'NO2', 'NH3', 'SO2', 'CO', 'OZONE'], dtype=object)

In [63]:
PMkitchen=df.loc[df["Pollutants"]=="PM2.5"]
PMclean=df.loc[df["Pollutants"]=="PM10"]
NO2=df.loc[df["Pollutants"]=="NO2"]
NH3=df.loc[df["Pollutants"]=="NH3"]
SO2=df.loc[df["Pollutants"]=="SO2"]
CO=df.loc[df["Pollutants"]=="CO"]
O3=df.loc[df["Pollutants"]=="OZONE"]

In [64]:
df.columns

Index(['Country', 'State', 'city', 'place', 'lastupdate', 'Avg', 'Max', 'Min',
       'Pollutants'],
      dtype='object')

In [65]:
pd.Categorical(df["Pollutants"]).describe()

            counts     freqs
categories
CO             126  0.159898
NH3             86  0.109137
NO2            122  0.154822
OZONE          117  0.148477
PM10           102  0.129442
PM2.5          120  0.152284
SO2            115  0.145939

In [66]:
df["Pollutants"].value_counts()

CO       126
NO2      122
PM2.5    120
OZONE    117
SO2      115
PM10     102
NH3       86
Name: Pollutants, dtype: int64

In [67]:
df.corr()

          Avg       Max       Min
Avg  1.000000  0.960141  0.933346
Max  0.960141  1.000000  0.859276
Min  0.933346  0.859276  1.000000

In [68]:
df.head()

,Country,State,city,place,lastupdate,Avg,Max,Min,Pollutants
0,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,70.0,108.0,42.0,PM2.5
1,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,76.0,102.0,43.0,PM10
2,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,73.0,118.0,46.0,NO2
3,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,5.0,6.0,4.0,NH3
4,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,41.0,109.0,2.0,SO2

In [69]:
#After pre proccessing
df.columns

Index(['Country', 'State', 'city', 'place', 'lastupdate', 'Avg', 'Max', 'Min',
       'Pollutants'],
      dtype='object')

In [70]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['Country','State','city','place','lastupdate','Avg','Max','Min','Pollutants']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i]).astype(str)

In [71]:
df.head()

  Country State city place lastupdate Avg  Max Min Pollutants
0       0     0    4    99          0  68  105  41          5
1       0     0    4    99          0  74   99  42          4
2       0     0    4    99          0  71  115  45          2
3       0     0    4    99          0   4    5   3          1
4       0     0    4    99          0  39  106   1          6

# Module2 : Performance measurements of Logistic regression and Naive Bayes algorithms, Random Forest, K-Nearest Neighbor, Support Vector Machines, Decision Tree

In [72]:
# iMPORT lIBRARY
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [73]:
import warnings
warnings.filterwarnings("ignore")

In [74]:
df=pd.read_excel("AirQuality.xlsx")

In [75]:
df.columns

Index(['Country', 'State', 'city', 'place', 'lastupdate', 'Avg', 'Max', 'Min',
       'Pollutants'],
      dtype='object')

In [76]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['Country','State','city','place','lastupdate','Avg','Max','Min','Pollutants']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i]).astype(str)

In [77]:
df["AQI"]=df.Avg.map({ '68':'satisfactor', '74':'satisfactor', '71':'satisfactor', '4':'good', '39':'good', '42':'good', '27':'good', '263':'poor', '250':'poor', '249':'poor','258':'poor', '284':'poor', '28':'good', '106':'satisfactor', '44':'good', '62':'satisfactor', '59':'satisfactor', '1':'good', '9':'good', '15':'good', '34':'good','63':'satisfactor', '14':'good', '13':'good', '69':'satisfactor', '37':'good', '2':'good', '5':'good', '66':'satisfactor', '202':'poor', '11':'good', '10':'good','52':'satisfactor', '54':'satisfactor', '246':'poor', '248':'poor', '32':'good', '93':'satisfactor', '226':'poor', '189':'moderate', '124':'moderate', '272':'poor','277':'poor', '278':'poor', '279':'poor', '280':'poor', '87':'satisfactor', '19':'good', '240':'poor', '197':'moderate', '38':'good', '84':'satisfactor','61':'satisfactor', '196':'moderate', '171':'moderate', '23' :'good', '111':'moderate', '43' :'good', '188':'moderate', '203' :'poor' , '16' :'good', '20' :'good','225' :'poor' , '190':'moderate', '26' :'good', '104':'moderate', '25' :'good', '224' :'poor' , '210' :'poor' , '83':'satisfactor', '82':'satisfactor', '233' :'poor' ,'205' :'poor' , '78':'satisfactor', '70':'satisfactor', '211' :'poor' , '179':'moderate', '91':'satisfactor', '49':'good', '134':'moderate', '161':'moderate', '223' :'poor' ,'57':'satisfactor', '73':'satisfactor', '207' :'poor' , '184':'moderate', '48' :'good', '6' :'good', '7' :'good', '194':'moderate', '21' :'good', '50' :'good', '231' :'poor' ,'175':'moderate', '45' :'good', '86':'satisfactor', '243' :'poor' , '232' :'poor' , '18' :'good', '31' :'good', '95':'satisfactor', '237' :'poor' , '217' :'poor' ,'99':'satisfactor', '33' :'good', '176':'moderate', '22' :'good', '29' :'good', '107':'moderate', '17' :'good', '75':'satisfactor', '220' :'poor' , '165':'moderate','149':'moderate', '3' :'good', '245' :'poor' , '239' :'poor' , '72':'satisfactor', '77':'satisfactor', '208' :'poor' , '24' :'good', '198':'moderate', '153':'moderate','53':'satisfactor', '228' :'poor' , '186':'moderate', '51':'satisfactor', '247' :'poor' , '219' :'poor' , '100':'satisfactor', '36' :'good', '204' :'poor' , '30' :'good','221' :'poor' , '229' :'poor' , '187':'moderate', '56':'satisfactor', '230' :'poor' , '192':'moderate', '114':'moderate', '274' :'poor' , '236' :'poor' ,'222' :'poor' , '206' :'poor' , '174':'moderate', '58':'satisfactor', '235' :'poor' , '212' :'poor' , '120':'moderate', '148':'moderate', '242' :'poor' ,'215' :'poor' , '80':'satisfactor', '79':'satisfactor', '67':'satisfactor', '40' :'good', '35' :'good', '185':'moderate', '101':'moderate', '46' :'good', '209' :'poor' ,'169':'moderate', '12' :'good', '47' :'good', '227' :'poor' , '200' :'moderate' , '244' :'poor' , '238' :'poor' , '160':'moderate', '282' :'poor' , '218' :'poor' ,'261' :'poor' , '262' :'poor' , '260' :'poor' , '256' :'poor' , '252' :'poor' , '162':'moderate', '172':'moderate', '156':'moderate', '133':'moderate','116':'moderate', '193':'moderate', '123':'moderate', '65':'satisfactor', '96':'satisfactor', '173':'moderate', '103':'moderate', '8' :'good', '273' :'poor' , '275' :'poor' ,'283' :'poor' , '276' :'poor' , '254' :'poor' , '152':'moderate', '105':'moderate', '64':'satisfactor', '0' :'good', '76':'satisfactor', '127':'moderate', '97':'satisfactor','115':'moderate', '150':'moderate', '142':'moderate', '41' :'good', '102':'moderate', '90':'satisfactor', '132':'moderate', '98':'satisfactor', '199':'moderate', '191':'moderate','157':'moderate', '139':'moderate', '94':'satisfactor', '110':'moderate', '270' :'poor' , '268' :'poor' , '281' :'poor' , '265' :'poor' , '267' :'poor' ,'269' :'poor' , '81':'satisfactor', '128':'moderate', '146':'moderate', '145':'moderate', '129':'moderate', '85':'satisfactor', '117':'moderate', '108':'moderate', '154':'moderate','131':'moderate', '255' :'poor' , '257' :'poor' , '88':'satisfactor', '113':'moderate', '118':'moderate', '167':'moderate', '164':'moderate', '137':'moderate','135':'moderate', '138':'moderate', '109':'moderate', '60':'satisfactor', '177':'moderate', '271' :'poor' , '170':'moderate', '144':'moderate', '166':'moderate','155':'moderate', '136':'moderate', '151':'moderate', '89':'satisfactor', '119':'moderate', '266' :'poor' , '264' :'poor' , '251' :'poor' , '253' :'poor' ,'259' :'poor' , '163':'moderate', '159':'moderate', '241' :'poor' , '214' :'poor' , '122':'moderate', '234' :'poor' , '195':'moderate', '130':'moderate','216' :'poor' , '213' :'poor' , '121':'moderate', '112':'moderate', '168':'moderate', '201' :'poor' , '141':'moderate', '181':'moderate', '143':'moderate','126':'moderate', '182':'moderate', '178':'moderate', '158':'moderate', '140':'moderate', '183':'moderate', '92':'satisfactor', '180':'moderate', '147':'moderate', '55':'satisfactor','125':'moderate'})

In [78]:
df['class']=df.AQI.map({'good':1,"moderate":0,"servere":0,'verypoor':0,'satisfactor':1,'poor':0})

In [79]:
del df['AQI']

In [80]:
df.head()

  Country State city place lastupdate Avg  Max Min Pollutants  class
0       0     0    4   101          0  68  105  41          5      1
1       0     0    4   101          0  74   99  42          4      1
2       0     0    4   101          0  71  115  45          2      1
3       0     0    4   101          0   4    5   3          1      1
4       0     0    4   101          0  39  106   1          6      1

In [81]:
df.columns

Index(['Country', 'State', 'city', 'place', 'lastupdate', 'Avg', 'Max', 'Min',
       'Pollutants', 'class'],
      dtype='object')

In [82]:
from sklearn.metrics import confusion_matrix, classification_report, matthews_corrcoef, cohen_kappa_score, accuracy_score, average_precision_score, roc_auc_score

In [83]:
X = df.drop(labels='class', axis=1)
#Response variable
y = df.loc[:,'class']

In [84]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1, stratify=y)

# Logistic Regression :

In [92]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
logR= LogisticRegression()

logR.fit(X_train,y_train)

predictR = logR.predict(X_test)

print("")
print('Classification report of Logistic Regression Results:')
print("")

print(classification_report(y_test,predictR))

accuracy = cross_val_score(logR, X, y, cv=70)
print('Cross validation test results of accuracy:')
print(accuracy)
print("")
#get the mean of each fold 
print("")
print("Accuracy result of Logistic Regression is:",accuracy.mean() * 100)
print("")

cm1=confusion_matrix(y_test,predictR)
print('Confusion Matrix result of Logistic Regression is:\n',cm1)
print("")
sensitivity1 = cm1[0,0]/(cm1[0,0]+cm1[0,1])
print('Sensitivity : ', sensitivity1 )
print("")
specificity1 = cm1[1,1]/(cm1[1,0]+cm1[1,1])
print('Specificity : ', specificity1)
print("")

Classification report of Logistic Regression Results:

              precision    recall  f1-score   support

           0       0.99      0.99      0.99        73
           1       0.99      0.99      0.99       175

    accuracy                           0.99       248
   macro avg       0.99      0.99      0.99       248
weighted avg       0.99      0.99      0.99       248

Cross validation test results of accuracy:
[1.         1.         1.         1.         1.         1.
 1.         1.         0.91666667 1.         1.         1.
 1.         1.         1.         1.         0.91666667 1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         0.91666667 1.         1.
 1.         1.         1.         0.91666667 1.         1.
 1.         0.91666667 1.         0.91666667 1.         0.91666667
 0.91666667 1.         1.         1.         1.         1.
 0.91666667 1.         1.         0.83333333 1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.         1.         1.
 0.90909091 1.         1.         1.        ]


Accuracy result of Logistic Regression is: 98.56060606060608

Confusion Matrix result of Logistic Regression is:
 [[ 72   1]
 [  1 174]]

Sensitivity :  0.9863013698630136

Specificity :  0.9942857142857143

# Naive Bayes:

In [93]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

gnb.fit(X_train,y_train)

predictR = gnb.predict(X_test)

print("")
print('Classification report of Naive Bayes Results:')
print("")

print(classification_report(y_test,predictR))
accuracy = cross_val_score(gnb, X, y, cv=70)
print('Cross validation test results of accuracy:')
print(accuracy)
print("")

#get the mean of each fold 
print("")
print("Accuracy result of Naive Bayes is:",accuracy.mean() * 100)
print("")
cm1=confusion_matrix(y_test,predictR)
print('Confusion Matrix result of Naive Bayes is:\n',cm1)
print("")
sensitivity1 = cm1[0,0]/(cm1[0,0]+cm1[0,1])
print('Sensitivity : ', sensitivity1 )
print("")
specificity1 = cm1[1,1]/(cm1[1,0]+cm1[1,1])
print('Specificity : ', specificity1)
print("")

Classification report of Naive Bayes Results:

              precision    recall  f1-score   support

           0       0.94      0.99      0.96        73
           1       0.99      0.97      0.98       175

    accuracy                           0.98       248
   macro avg       0.96      0.98      0.97       248
weighted avg       0.98      0.98      0.98       248

Cross validation test results of accuracy:
[1.         1.         1.         1.         1.         1.
 1.         1.         0.91666667 1.         1.         1.
 1.         1.         0.91666667 1.         0.91666667 1.
 1.         1.         0.91666667 1.         1.         1.
 0.91666667 1.         1.         0.91666667 1.         0.91666667
 1.         0.91666667 1.         1.         1.         0.91666667
 0.91666667 0.91666667 1.         0.91666667 1.         1.
 0.83333333 1.         1.         1.         1.         1.
 0.91666667 1.         1.         0.83333333 1.         1.
 1.         1.         0.90909091 1.         1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.        ]


Accuracy result of Naive Bayes is: 97.84632034632035

Confusion Matrix result of Naive Bayes is:
 [[ 72   1]
 [  5 170]]

Sensitivity :  0.9863013698630136

Specificity :  0.9714285714285714

# Random Forest

In [94]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()

rfc.fit(X_train,y_train)

predictR = rfc.predict(X_test)

print("")
print('Classification report of Random Forest Results:')
print("")

print(classification_report(y_test,predictR))
accuracy = cross_val_score(rfc, X, y, cv=70)
print('Cross validation test results of accuracy:')
print(accuracy)
print("")

#get the mean of each fold 
print("")
print("Accuracy result of Random Forest is:",accuracy.mean() * 100)
print("")

cm1=confusion_matrix(y_test,predictR)
print('Confusion Matrix result of Random Forest is:\n',cm1)
print("")
sensitivity1 = cm1[0,0]/(cm1[0,0]+cm1[0,1])
print('Sensitivity : ', sensitivity1 )
print("")
specificity1 = cm1[1,1]/(cm1[1,0]+cm1[1,1])
print('Specificity : ', specificity1)
print("")

Classification report of Random Forest Results:

              precision    recall  f1-score   support

           0       0.99      0.99      0.99        73
           1       0.99      0.99      0.99       175

    accuracy                           0.99       248
   macro avg       0.99      0.99      0.99       248
weighted avg       0.99      0.99      0.99       248

Cross validation test results of accuracy:
[0.91666667 1.         1.         1.         1.         1.
 1.         1.         0.91666667 1.         1.         1.
 1.         1.         1.         1.         0.91666667 1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         0.91666667 1.         1.
 1.         1.         1.         1.         1.         1.
 1.         0.91666667 1.         1.         1.         1.
 0.91666667 1.         1.         1.         1.         1.
 0.91666667 1.         1.         1.         1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.        ]


Accuracy result of Random Forest is: 99.16666666666667

Confusion Matrix result of Random Forest is:
 [[ 72   1]
 [  1 174]]

Sensitivity :  0.9863013698630136

Specificity :  0.9942857142857143

#  Support Vector Machines

In [95]:
from sklearn.svm import SVC
s = SVC()

s.fit(X_train,y_train)

predicts = s.predict(X_test)

print("")
print('Classification report of Support Vector Machines Results:')
print("")

print(classification_report(y_test,predicts))



accuracy = cross_val_score(s, X, y, cv=70)
print('Cross validation test results of accuracy:')
print(accuracy)
print("")
#get the mean of each fold 
print("")
print("Accuracy result of Support Vector Machines is:",accuracy.mean() * 100)
print("")

cm1=confusion_matrix(y_test,predicts)
print('Confusion Matrix result of Support Vector Machines is:\n',cm1)
print("")
sensitivity1 = cm1[0,0]/(cm1[0,0]+cm1[0,1])
print('Sensitivity : ', sensitivity1 )
print("")
specificity1 = cm1[1,1]/(cm1[1,0]+cm1[1,1])
print('Specificity : ', specificity1)
print("")

Classification report of Support Vector Machines Results:

              precision    recall  f1-score   support

           0       0.97      0.97      0.97        73
           1       0.99      0.99      0.99       175

    accuracy                           0.98       248
   macro avg       0.98      0.98      0.98       248
weighted avg       0.98      0.98      0.98       248

Cross validation test results of accuracy:
[1.         1.         1.         1.         1.         1.
 0.91666667 1.         0.91666667 1.         1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         0.91666667 1.         0.91666667
 0.83333333 0.91666667 1.         0.91666667 1.         1.
 1.         1.         1.         0.91666667 1.         1.
 0.91666667 1.         1.         0.66666667 1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.        ]


Accuracy result of Support Vector Machines is: 98.33333333333336

Confusion Matrix result of Support Vector Machines is:
 [[ 71   2]
 [  2 173]]

Sensitivity :  0.9726027397260274

Specificity :  0.9885714285714285

#  K-Nearest Neighbor

In [96]:
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
knnc = KNeighborsClassifier()

knnc.fit(X_train,y_train)

predictR = knnc.predict(X_test)

print("")
print('Classification report of K-Nearest Neighbor Results:')
print("")

print(classification_report(y_test,predictR))


print("")



print(classification_report(y_test,predictR))
accuracy = cross_val_score(knnc, X, y, cv=70)
print('Cross validation test results of accuracy:')
print(accuracy)
print("")

#get the mean of each fold 
print("")
print("Accuracy result of K-Nearest Neighbor is:",accuracy.mean() * 100)
print("")

cm1=confusion_matrix(y_test,predictR)
print('Confusion Matrix result of K-Nearest Neighbor is:\n',cm1)
print("")
sensitivity1 = cm1[0,0]/(cm1[0,0]+cm1[0,1])
print('Sensitivity : ', sensitivity1 )
print("")
specificity1 = cm1[1,1]/(cm1[1,0]+cm1[1,1])
print('Specificity : ', specificity1)
print("")

Classification report of K-Nearest Neighbor Results:

              precision    recall  f1-score   support

           0       0.96      0.97      0.97        73
           1       0.99      0.98      0.99       175

    accuracy                           0.98       248
   macro avg       0.97      0.98      0.98       248
weighted avg       0.98      0.98      0.98       248


              precision    recall  f1-score   support

           0       0.96      0.97      0.97        73
           1       0.99      0.98      0.99       175

    accuracy                           0.98       248
   macro avg       0.97      0.98      0.98       248
weighted avg       0.98      0.98      0.98       248

Cross validation test results of accuracy:
[1.         1.         1.         1.         0.91666667 1.
 0.91666667 1.         0.91666667 1.         0.91666667 1.
 1.         1.         1.         1.         0.83333333 1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.         1.         1.
 1.         0.91666667 1.         0.83333333 1.         1.
 0.91666667 1.         1.         0.91666667 1.         1.
 0.91666667 1.         1.         0.91666667 1.         0.91666667
 1.         1.         1.         0.75       1.         1.
 1.         1.         0.90909091 1.         1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.        ]


Accuracy result of K-Nearest Neighbor is: 97.84632034632034

Confusion Matrix result of K-Nearest Neighbor is:
 [[ 71   2]
 [  3 172]]

Sensitivity :  0.9726027397260274

Specificity :  0.9828571428571429

# Decision Tree Classifier

In [97]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()

dtree.fit(X_train, y_train)

predictDT = dtree.predict(X_test)

print("")
print('Classification report of Decision Tree Classifier Results:')
print("")

print(classification_report(y_test,predictDT))
accuracy = cross_val_score(dtree, X, y, cv=70)

print('Cross validation test results of accuracy:')
print(accuracy)
print("")


#get the mean of each fold 
print("")
print("Accuracy result of Decision Tree Classifier is:",accuracy.mean() * 100)
print("")

cm1=confusion_matrix(y_test,predictDT)
print('Confusion Matrix result of Decision Tree Classifier is:\n',cm1)
print("")
sensitivity1 = cm1[0,0]/(cm1[0,0]+cm1[0,1])
print('Sensitivity : ', sensitivity1 )
print("")
specificity1 = cm1[1,1]/(cm1[1,0]+cm1[1,1])
print('Specificity : ', specificity1)
print("")

Classification report of Decision Tree Classifier Results:

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        73
           1       1.00      1.00      1.00       175

    accuracy                           1.00       248
   macro avg       1.00      1.00      1.00       248
weighted avg       1.00      1.00      1.00       248

Cross validation test results of accuracy:
[1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         0.91666667 1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.        ]


Accuracy result of Decision Tree Classifier is: 99.88095238095237

Confusion Matrix result of Decision Tree Classifier is:
 [[ 73   0]
 [  0 175]]

Sensitivity :  1.0

Specificity :  1.0